<div class="col-xs-12"> <a href="#newList" role="button" data-toggle="modal" class="btn btn-default pull-right"><i class="fa fa-tasks"></i> Add new list</a>
    <h4 class="sep-border text-uppercase">LIST MANAGEMENT</h4>
    <div class="table-responsive">
        <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">List Name</th>
                    <th class="text-center"></th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invitation_list in invitation_lists.invitation_details">
                    <td class="text-center">new</td>
                    <td class="text-center">
                        <div class="btn-group"> <a class="modal-opener btn btn-inverse" data-toggle="modal" data-target="#editList"> <i class="icon-edit icon-white"></i> Update </a> <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                            <ul class="dropdown-menu">
                                <li> <a class="modal-opener" href="#" data-toggle="modal" data-target="#editList"> <i class="fa fa-edit"></i> Update </a> </li>
                                <li> <a href="#"> <i class="fa fa-remove"></i> Delete List </a> </li>
                                <li> <a href="#"> <i class="fa fa-user"></i> Users In This list </a> </li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-center">1 person</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>