<div class="section pr fixed-banner">
    <div class="cover-image" style="background-image : url('../images/login-bg.jpg')"></div>
</div>
<div class="section  fa-inverse">
    <div class="container">
        <div class="row pspace9">
            <div class="clearfix text-center">
                <ul class="breadcrumb list-group-item-text">
                    <li> <span>{{'CHOOSE TICKETS'|translate}}</span> </li>
                    <li class=""> <span>{{'YOUR BASKET'|translate}}</span> </li>
                    <li class="active"> <strong>
                  <span>{{'DELIVERY METHOD'|translate}}</span>
                </strong> </li>
                    <li class=""> <span href="#">{{'PAYMENT'|translate}}</span> </li>
                    <li class=""> <span href="#">{{'CONFIRMATION'|translate}}</span> </li>
                </ul>
            </div>
            <div class="clearfix">
                <div class="well-sm"></div>
                <div class="col-sm-6 col-xs-6">
                    <h3 class="navbar-btn row text-uppercase">{{'Deleivery Method'|translate}}</h3>
                </div>
                <div class="col-sm-6 col-xs-6 text-right"> <img src="../images/ticketing-secure-badge.png" class="img-responsive pull-right navbar-btn row" alt="secure booking"> </div>
            </div>
            <div class="clearfix">
                <div class="panel transparency table-responsive panel-default fa-inverse clearfix">
                    <div class="bg-danger">
                        <div class="well-sm">{{'How would you like to receive your tickets?'|translate}}</div>
                    </div>
                    <div class="well-sm"></div>
                    <ul class="list-unstyled clearfix media-list ">
                        <li class="col-md-3 col-sm-6" ng-repeat="delivery_method in delivery.available_delivery_methods">
                            <div class="panel panel-danger media  border-radius4 cursor-pointer transparency deliveryMethod" id="deliveryMethod_{{delivery_method.id}}" ng-class="{'selected-color': $first || delivery_method.class+'class' === true}" ng-click="delivery.selectDeliveryMethod(delivery_method.id, $event)">
                                <div class="pull-left well-sm">
                                    <!-- for electronic ticket ---><img src="../images/e-ticket-over.png" class="img-responsive" ng-show="delivery_method.class === 'electronic-ticket' && deliver_method_image{{delivery_method.id}}"> <img src="../images/e-ticket.png" class="img-responsive"
                                        ng-show="delivery_method.class === 'electronic-ticket' && !deliver_method_image{{delivery_method.id}}">
                                    <!-- for courier ---><img src="../images/courier-over.png" class="img-responsive" ng-show="delivery_method.class === 'courier-delivery' && deliver_method_image{{delivery_method.id}}"> <img src="../images/courier.png" class="img-responsive"
                                        ng-show="delivery_method.class === 'courier-delivery' && !deliver_method_image{{delivery_method.id}}">
                                    <!-- for box office  ---><img src="../images/boxoffice-over.png" class="img-responsive" ng-show="delivery_method.class === 'box-office' && deliver_method_image{{delivery_method.id}}"> <img src="../images/boxoffice.png" class="img-responsive"
                                        ng-show="delivery_method.class === 'box-office' && !deliver_method_image{{delivery_method.id}}">
                                    <!-- for gift box  ---><img src="../images/giftbox-over.png" class="img-responsive" ng-show="delivery_method.class === 'gift-box' && deliver_method_image{{delivery_method.id}}"> <img src="../images/giftbox.png" class="img-responsive" ng-show="delivery_method.class === 'gift-box' && !deliver_method_image{{delivery_method.id}}">                                    </div>
                                <div class="media-body">
                                    <h4 class="text-uppercase htruncate-m2">{{delivery_method.name}}</h4> <span class="clearfix">
                        <strong>{{formatCurrency(delivery_method.price) |  currency : selectedCurrency.currency_symbol : GeneralConfig.fraction}}</strong>
                      </span> <a class="text-danger" ng-show="!$first" ng-class="{'text-inverse': delivery_method.class+'class' === true}">{{'Whats\'s this'|translate}}</a>
                                    <div class="well-sm" ng-show="$first"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="col-sm-6 ">
                        <h3 class="text-uppercase">{{'billing address'|translate}}</h3>
                        <form class="form-horizontal form-alter" role="form " ng-show="delivery.update_billing_address">
                            <!--<div class="form-group ">
                                <div class="col-sm-3 "> <label for="inputEmail3 " class="control-label ">{{'Country'|translate}}&nbsp;
                        <span class="text-danger">*</span>
                      </label> </div>
                                <div class="col-sm-9 "> <select class="form-control" ng-model="delivery.user.country_id" ng-init="delivery.user.country_id = 238" ng-options="country.id as country.name for country in countries">
                      </select> </div>
                            </div>  -->
                            <div class="form-group ">
                                <div class="col-sm-3 "> <label for="inputPassword3 " class="control-label ">{{'Address1'|translate}}&nbsp;
                        <span class="text-danger">*</span>
                      </label> </div>
                                <div class="col-sm-9"> <input type="text" ng-model="delivery.user.address" class="form-control" name="address" placeholder="Address line #1" id="goo-place"> </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-3 "> <label for="inputPassword3 " class="control-label ">{{'Address2'|translate}}&nbsp;
                        <span class="text-danger">*</span>
                      </label> </div>
                                <div class="col-sm-9 "> <input type="text" class="form-control
              " id="inputPassword3 " placeholder="Address2" ng-model="delivery.user.address1"> </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-3 "> <label for="inputPassword3 " class="control-label ">{{'City'|translate}}&nbsp;
                        <span class="text-danger" >*</span>
                      </label> </div>
                                <div class="col-sm-9 "> <input type="text" class="form-control
              " id="inputPassword3 " placeholder="Dubai" ng-model="delivery.user.city_name"> </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-3 "> <label for="inputPassword3 " class="control-label ">{{'State'|translate}}&nbsp;
                        <span class="text-danger" >*</span>
                      </label> </div>
                                <div class="col-sm-9 "> <input type="text" class="form-control
              " id="inputPassword3 " ng-model="delivery.user.state_name"> </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-3"> <label for="inputPassword3 " class="control-label ">{{'P.O Box'|translate}} &nbsp;
                        <span class="text-danger">*</span>
                      </label> </div>
                                <div class="col-sm-9"> <input type="text" class="form-control
              " id="inputPassword3 " placeholder=" " ng-model="delivery.user.zip_code"> </div>
                            </div>
                        </form>
                        <div ng-show="!delivery.update_billing_address"> <strong class="clearfix">{{delivery.user.address}}</strong> <strong class="clearfix">{{delivery.user.address1}}</strong> <strong class="clearfix">{{delivery.user.country.name}}</strong> <strong class="clearfix">{{delivery.user.city_name}}</strong>                            <strong class="clearfix">{{delivery.user.state_name}}</strong> <strong class="clearfix">{{delivery.user.zip_code}}</strong>
                            <div class="well-sm"></div> <a class="btn-default btn text-uppercase" ng-click="delivery.updateBilling()">{{'Update Address'|translate}}</a>
                            <div class="well-sm"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="text-uppercase navbar-btn">{{'ORDER SUMMARY'|translate}}</h3>
                    </div>
                    <div class="col-sm-6 text-sm-right text-xs-left"> <a href="#!/booking/basket" class="btn custom-section text-uppercase">Edit your order</a> </div>
                </div>
                <div class="visible-xs well-sm"></div>
                <div clas="row">
                    <div class="col-sm-12 bg-danger border-top-side  hidden-xs">
                        <div class="col-sm-6 well-sm text-sm-center"> <strong>Item(s)</strong> </div>
                        <div class="col-sm-2 well-sm text-sm-center"> <strong>{{'Quantity'|translate}}</strong> </div>
                        <div class="col-sm-2 well-sm text-sm-center"> <strong>{{'Price'|translate}}</strong> </div>
                        <div class="col-sm-2 well-sm text-sm-center"> <strong>{{'Total'|translate}}</strong> </div>
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-12 border-top-side" ng-repeat="item in Cart.getCart().items track by $index">
                        <div class="navbar-btn"></div>
                        <div class="col-sm-6 well-sm">
                            <div class="">
                                <h3 class="list-group-item-heading text-uppercase "> <b>{{item.getName()}}</b> </h3>
                                <ul class="list-unstyled ">
                                    <li ng-show="item.getName() !== 'Gift Voucher'">
                                        <p class="list-group-item-heading" ng-show="item.getDatat().event_start_date"> <small>{{item.getDatat().event_start_date | moment:'dddd, DD MMM YYYY hh:mm A'}} - {{item.getDatat().event_end_date | moment:'dddd, DD MMM YYYY hh:mm A'}}</small> </p>
                                    </li>
                                    <li ng-show="item.getName() !== 'Gift Voucher'">
                                        <p class="list-group-item-heading" ng-show="item.getData().zone_name"> <small>{{item.getData().zone_name}},&nbsp;{{item.getData().venue_zone_section_name}},&nbsp;Row&nbsp;{{item.getData().venue_zone_section_row_name}},&nbsp;Seat&nbsp;{{item.getData().seat_name}}</small></p>
                                    </li>
                                    <li ng-show="item.getName() !== 'Gift Voucher'">
                                        <p class="list-group-item-heading"> <small>{{item.getQuantity()}}x {{item.getData().price.name}}</small> </p>
                                    </li>
                                </ul>
                                <div class="well-lg hidden-xs "></div>
                                <div ng-if="$last">
                                    <p>{{'Tickets(s)'|translate}}&nbsp; <a href="#!/pages/2/terms-and-conditions" class="text-danger "> <span>{{'Terms and Condtions'|translate}}</span></a>&nbsp;{{'apply to your tickets'|translate}}.</p>
                                    <p>{{'Restricted Viewing'|translate}}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 well-sm text-sm-center"> <span>
                    <strong class="visible-xs col-xs-2 price_details row">{{'Quantity'|translate}}:&nbsp;</strong>{{item.getQuantity()}}</span> </div>
                        <div class="col-sm-2 well-sm text-sm-center"> <span>
                    <strong class="visible-xs col-xs-2 price_details row">{{'Price'|translate}}:&nbsp;</strong>{{formatCurrency(item.getPrice()) |  currency : selectedCurrency.currency_symbol : GeneralConfig.fraction}}</span> </div>
                        <div class="col-sm-2 well-sm text-sm-center">
                        <span>
                    <strong class="visible-xs col-xs-2 price_details row">{{'Total'|translate}}:&nbsp;</strong>{{formatCurrency(item.getTotal()) |  currency : selectedCurrency.currency_symbol : GeneralConfig.fraction}}</span> </div>
                    </div>
                    <!-- doantion amount -->
                    <div class="col-sm-12 border-top-side" ng-if="Cart.getDonationAmount() !== 0">
                        <div class="navbar-btn"></div>
                        <div class="col-sm-6 well-sm">
                            <div class="">
                                <h3 class="list-group-item-heading text-uppercase"> <b>{{'General Donation'|translate}}</b> </h3>
                            </div>
                        </div>
                        <div class="col-sm-2 well-sm clrBoth "> <span>
                            <strong class="visible-xs col-xs-2 price_details row">{{'Quantity'|translate}}:&nbsp;</strong></span> </div>
                        <div class="col-sm-2 well-sm clrBoth"> <span>
                            <strong class="visible-xs col-xs-2 price_details row">{{'Price'|translate}}:&nbsp;</strong>{{formatCurrency(Cart.getDonationAmount()) |  currency : selectedCurrency.currency_symbol : GeneralConfig.fraction}}</span> </div>
                        <div
                            class="col-sm-2 well-sm clrBoth"> <span>
                            <strong class="visible-xs col-xs-2 price_details row">{{'Total'|translate}}:&nbsp;</strong>{{formatCurrency(Cart.getDonationAmount()) |  currency : selectedCurrency.currency_symbol : GeneralConfig.fraction}}</span> </div>
                </div>
            </div>
            <div clas="row">
                <div class="col-sm-12 border">
                    <div class="navbar-btn"></div>
                    <div class="col-sm-6 well-sm">
                        <h3 class="list-group-item-heading "> <b>{{'STANDARD HANDLING FEE'|translate}}</b>&nbsp; <small>
                            <my-modal body="In order to cover the total cost of providing our Box Office Service we charge a Payment Handling Fee which is 2% of the total transaction value and a Transaction Processing Fee of £2.50 per ticket. For the BBC Proms the transaction processing fee is £2.00 per ticket (except Advance Sale Promming tickets where it is £1.00 per ticket), up to a maximum of £25.00. Please note that different charges may apply when booking hospitality and some other events." name="Standard Handling Fees"><span class="text-danger">{{'WHAT\'S THIS?'|translate}}</span></my-modal>
                    </small> </h3>
                    </div>
                    <div class="col-sm-2 well-sm hidden-xs">&nbsp;</div>
                    <div class="col-sm-2 well-sm hidden-xs">&nbsp;</div>
                    <div class="col-sm-2 well-sm text-sm-center"> <span>
                    <strong class="visible-xs col-xs-2 price_details row">{{'Price'|translate}}:&nbsp;</strong>{{formatCurrency(((2/100)*Cart.totalCost())* Cart.getTotalItems()) |  currency : selectedCurrency.currency_symbol : GeneralConfig.fraction}}</span>                        </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="text-right well-sm"> <span class="text-muted h4 ">
                <b>{{'Basket Total'|translate}}:
                  <span class="fa-inverse ">&nbsp;{{formatCurrency(((2/100)*Cart.totalCost()) * Cart.getTotalItems() + Cart.totalCost() + Cart.getDonationAmount()) |  currency : selectedCurrency.currency_symbol : GeneralConfig.fraction}}</span> </b>
                </span>
            </div>
        </div>
        <hr class="navbar-btn">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="pull-left "> <a class="btn custom-section btn-sm" ng-click="delivery.ClearCart()">{{'CANCEL ORDER'|translate}}</a> </div>
                <div class="pull-right "> <a class="btn btn-danger btn-sm" ng-click="delivery.checkout()">{{'PROCEED TO PAYMENT'|translate}}</a> </div>
                <div class="clearfix "></div>
            </div>
        </div>
    </div>
</div>
</div>