<div class="section pr">
    <div class="cover-image fixed-banner" style="background-image : url('../images/login-bg.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 fa-inverse login-border">
                <div class="panel transparency col-md-5 col-xs-12 pull-right">
                    <div id="forgotpassword_tequest_not_sent" ng-show="!forgot_pwd_request" class="frmforgotpswd">
                        <form class="well-lg" role="form" name="userForgotPassword" ng-submit="save()" novalidate>
                            <h2>{{'FORGOTTEN PASSWORD'|translate}}</h2>
                            <h5 class="mt25 l-h-24">{{'Please enter your email address below and we will'|translate}} <br>{{' send you instructions to reset tour password'|translate}}</h5>
                            <div class="form-group mt25" ng-class="{ 'has-error': userForgotPassword.email.$dirty && userForgotPassword.email.$invalid || (userForgotPassword.$submitted && userForgotPassword.email.$invalid) }">
                            <label for="username" class="control-label">{{'Email Address'|translate}}:</label> <input type="email" ng-model="forgotPwdController.user.email" class="form-control" id="email" name="email" placeholder="{{'e.g.your.name@example.com'|translate}}"
                                    required>
                                <div class="help-block text-danger" ng-if="userForgotPassword.email.$dirty || userForgotPassword.$submitted" ng-messages="userForgotPassword.email.$error" role="alert">
                                    <div ng-message="required">Please enter a value for this field.</div>
                                    <div ng-message="email">This field must be a valid email address.</div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group text-right"> <button type="submit" ng-disabled="save_btn" class="btn btn-danger">{{'SEND PASSWORD'|translate}}</button> </div>
                        </form>
                    </div>
                    <div id="forgotpassword_request_sent" class="well-lg" ng-show="forgot_pwd_request">
                        <h2>{{'FORGOTTEN PASSWORD'|translate}}</h2>
                        <h5 class="mt25 l-h-24">{{'An email with further instructions on how to recover'|translate}} <br> {{'your account is on its way to you now. Please follow'|translate}} <br> {{'those instructions'|translate}}.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>