<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div ng-include="'views/users_account_left_side_menu.html'"></div>
            </div>
            <div class="col-md-9 navbar-btn">
                <div class="navbar-btn fa-inverse">
                    <h2 class="mb25">{{'CHANGE PASSWORD'|translate}}</h2>
                    <form class="form-horizontal form-alter" role="form" name="userChangePassword" ng-submit="save()" novalidate>
                        <div class="form-group" ng-class="{ 'has-error': userChangePassword.password.$dirty && userChangePassword.password.$invalid || (userChangePassword.$submitted && userChangePassword.password.$invalid) }">
                            <div class="col-sm-3"> <label for="password" class="control-label">{{'Old Password'|translate}}
                                        <span class="text-danger">&nbsp;*</span>
                                    </label> </div>
                            <div class="col-sm-9"> <input type="password" class="form-control" ng-minlength="6" ng-model="model.user.password" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" name="password" id="password"
                                    placeholder="{{'Old Password'|translate}}" ng-required="true">
                                <div class="help-block text-danger" ng-if="userChangePassword.password.$dirty || userChangePassword.$submitted" ng-messages="userChangePassword.password.$error"
                                    role="alert">
                                    <div ng-message="required">{{'Please enter a value for this field'|translate}}.</div>
                                    <div ng-message="minlength">{{'Password should be atleast 6 characters'|translate}}.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': userChangePassword.new_password.$dirty && userChangePassword.new_password.$invalid || (userChangePassword.$submitted && userChangePassword.new_password.$invalid) }">
                            <div class="col-sm-3"> <label for="new_password" class="control-label">{{'New Password'|translate}}
                                        <span class="text-danger">&nbsp;*</span>
                                    </label> </div>
                            <div class="col-sm-9"> <input type="password" ng-model="model.user.new_password" ng-minlength="6" ng-maxlength="15" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" class="form-control" id="new_password"
                                    name="new_password" placeholder="{{'New Password'|translate}}" ng-required="true">
                                <div class="help-block text-danger" ng-if="userChangePassword.new_password.$dirty || userChangePassword.$submitted" ng-messages="userChangePassword.new_password.$error"
                                    role="alert">
                                    <div ng-message="required">{{'Please enter a value for this field'|translate}}.</div>
                                    <div ng-message="minlength">{{'Password should be atleast 6 characters'|translate}}.</div>
                                    <div ng-message="maxlength">{{'Password can\'t exceed 15 characters'|translate}}.</div>
                                </div>
                                <div class="col-md-12 no-space">
                                    <div class="col-md-5 col-xs-6 no-space">
                                        <div class="progress progress-slim navbar-btn list-group-item-text no-border-rad">
                                            <div ng-password-strength="model.user.new_password" strength="passStrength" calculation-mode="formula" goal="96" inner-class="progress-bar" inner-class-prefix="progress-bar-"> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-xs-6  text-left">
                                        <h5 class="mt7">{{'Strength:'|translate}}</h5>
                                    </div>
                                </div>
                                <h6 class="list-group-item-text"><a href="javascript:void(0);" class="text-danger" ng-click="isOpen = !isOpen">{{'What\'s this'|translate}}</a></h6>
                                <div class="collapse" uib-collapse="!isOpen">
                                    <div class="well-sm"></div>
                                    <p>{{'For a secure password, ensure it\'s at least 6 characters long and use a mixture of:'|translate}}</p>
                                    <ul>
                                        <li>{{'Uppercase and lowercase characters'|translate}}</li>
                                        <li>{{'Numbers'|translate}}</li>
                                        <li>{{'Special characters'| translate}} (!@#$%^&*?_~)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': userChangePassword.confirm_password.$dirty && userChangePassword.confirm_password.$invalid || (userChangePassword.$submitted && userChangePassword.confirm_password.$invalid) }">
                            <div class="col-sm-3"> <label for="confirm_password" class="control-label">{{'Confirm Password'|translate}}
                                        <span class="text-danger">&nbsp;*</span>
                                    </label> </div>
                            <div class="col-sm-9"> <input type="password" class="form-control" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" match="model.user.new_password" ng-model="confirm_password" ng-maxlength="15"
                                    ng-minlength="6" name="confirm_password" id="confirm_password" placeholder="{{'Confirm Password'|translate}}" ng-required="true">
                                <div class="help-block text-danger" ng-if="userChangePassword.confirm_password.$dirty || userChangePassword.$submitted"
                                    ng-messages="userChangePassword.confirm_password.$error" role="alert">
                                    <div ng-message="required">{{'Please enter a value for this field'|translate}}.</div>
                                    <div ng-message="minlength">{{'Password should be atleast 6 characters'|translate}}.</div>
                                    <div ng-message="mismatch">{{'Password and confirm password must match'|translate}}.</div>
                                    <div ng-message="maxlength">{{'Password can\'t exceed 15 characters'|translate}}.</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group text-right m-r-0"> <button type="submit" ng-disabled="save_btn" class="btn btn-danger">{{'CHANGE PASSWORD'|translate}}</button> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>